/********************************************************************************
**    Copyright (c) 1999-2000 Microsoft Corporation. All Rights Reserved.
********************************************************************************/

#include <windows.h>
#include <winres.h>
#include "resource.h"
#include "version.h"


#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

DLG_AUDIONETSERVER DIALOGEX 0, 0, 257, 215
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Server"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Enter the address or the name of the AudioNet server you want to use for this device: ",IDC_STATIC,12,18,234,18
    EDITTEXT        IDC_SERVERNAME,12,38,234,14,ES_AUTOHSCROLL
    GROUPBOX        "AudioNet Server Settings",IDC_STATIC,3,6,249,50
END

//
//  String Tables.
//


